table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}
th, td {
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    width: 100px; /* セルの幅を固定 */
    height: 100px; /* セルの高さを固定 */
}
.free {
    background-color: lightgray;
}